### IDE ###
.idea

### ENV ###
.env
.env.dev

### VENV ###
venv
venv_microsoft

### Python ###
__pycache__/

### Django ###
*.pyc
*.sqlite3
# learning_log/settings.py
/static
# /learning_logs/migrations
/media

### Other ###
help.txt