### IDE ###
.idea

### ENV ###
.env

### VENV ###
/venv
/venv2

### Python ###
__pycache__/

### Django ###
*.pyc
*.sqlite3
# learning_log/settings.py
/static
# /learning_logs/migrations
/media

### Other ###
help.txt