### IDE ###
.idea

### ENV ###
.env
.env.dev

### VENV ###
venv
venv_microsoft

### Python ###
__pycache__/

### Django ###
*.pyc
*.sqlite3
/app/static
/app/products_list/migrations
/media

### Other ###
help.txt