.product-block {
    position: relative;
    z-index: 1000;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin-top: 0px;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}

.wrap {
    position: absolute;
    margin: 0 auto; /*центрируем ее*/
    height: 40px; /*Задаем высоту обертки*/
    z-index: 1000;
}

.bblock {
    float: left; /*Задаем обтекание*/
    line-height: 40px; /*Высота строки +  верт. центрирования текста*/
    font-size: 18px;
    background-color: #e0feff;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center; /*Центрируем текст по горизонтали*/
    border: 2px solid rgba(0, 0, 0, 0.15);
    padding: 5px 10px;
    color: #212529;
    border-radius: 0.25rem;
}

.wrap :last-child {
    margin-right: 0px; /*Убираем поле последнего div-а*/
}

.btn-wide {
    padding-right: 30px;
    padding-left: 30px;
}

.fas-line {
    line-height: unset;
}

.color-red {
    color: #ff253a;
}

.color-blue {
    color: dodgerblue;
}

.color-grey {
    color: #dfdfdf;
}

.menu-area {
    padding: 0 10px;
}

.menu-area-products {
    padding: 4px 10px 4px 10px;
}

.all-menu-area-products {
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    border-left: 3px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    background-color: #f8f9fa;
    border-radius: 0.25rem;
}

.ml-10 {
    margin-left: 10px;
}

.mr-10 {
    margin-right: 10px;
}

.p-e-none {
    pointer-events: none;
}

.p-e-yes {
    pointer-events: visible;
}

.p-for-icons {
    padding: 15px 10px;
}

.list-title-input {
    padding: 0 0;
}

.shadow {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, .7);
    z-index: 200;
}

.nowrap {
    white-space: nowrap;
}

.bb-dotted {
    margin-bottom: 10px;
    border-bottom: 2px solid rgba(39, 159, 164, 0.31);
}

.checked-background {
    background: linear-gradient(45deg, #e6e9f0, #eff1f3);
}